In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer

In [2]:
data=pd.read_csv("AirQualityUCI.csv")
data

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,2004/3/10,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN
1,2004/3/10,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN
2,2004/3/10,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,NaN,NaN
3,2004/3/10,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,NaN,NaN
4,2004/3/10,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.dtypes

Date              object
Time              object
CO(GT)           float64
PT08.S1(CO)      float64
NMHC(GT)         float64
C6H6(GT)         float64
PT08.S2(NMHC)    float64
NOx(GT)          float64
PT08.S3(NOx)     float64
NO2(GT)          float64
PT08.S4(NO2)     float64
PT08.S5(O3)      float64
T                float64
RH               float64
AH               float64
Unnamed: 15      float64
Unnamed: 16      float64
dtype: object

In [4]:
data=data.drop(columns=["Date","Time","Unnamed: 15","Unnamed: 16"],axis=1)
data

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.isna().sum()

CO(GT)           114
PT08.S1(CO)      114
NMHC(GT)         114
C6H6(GT)         114
PT08.S2(NMHC)    114
NOx(GT)          114
PT08.S3(NOx)     114
NO2(GT)          114
PT08.S4(NO2)     114
PT08.S5(O3)      114
T                114
RH               114
AH               114
dtype: int64

In [6]:
data_copy=data.copy()

In [7]:
sindex=np.argsort(data_copy.isna().sum().values.tolist())

In [8]:
for i in sindex:
    if data_copy.iloc[:,i].isna().sum()==0:
        continue
    df1=data_copy
    fillc=df1.iloc[:,i]
    df2=df1.iloc[:,df1.columns !=df1.columns[i]]
    df3=SimpleImputer(missing_values=np.nan,strategy="constant",fill_value=0).fit_transform(df2)

    Ytrain = fillc[fillc.notnull()]
    Ytest = fillc[fillc.isnull()] 
    Xtrain = df3[Ytrain.index,:]
    Xtest = df3[Ytest.index,:]

    rfc=RandomForestRegressor().fit(Xtrain,Ytrain)
    Y_pred=rfc.predict(Xtest)

    data_copy.loc[data_copy.iloc[:,i].isnull(),data_copy.columns[i]]=Y_pred

In [9]:
data_copy.isnull().sum()

CO(GT)           0
PT08.S1(CO)      0
NMHC(GT)         0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64

In [10]:
train_data=data_copy.iloc[:4000]
train_data

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,0.7,786.0,-200.0,2.8,642.0,39.0,1057.0,48.0,1270.0,592.0,20.2,47.1,1.1021
3996,1.1,868.0,-200.0,5.7,798.0,83.0,866.0,71.0,1392.0,824.0,20.1,47.8,1.1093
3997,1.6,965.0,-200.0,10.0,977.0,149.0,725.0,94.0,1515.0,1014.0,20.6,45.5,1.0925
3998,2.3,1049.0,-200.0,14.5,1133.0,216.0,630.0,118.0,1662.0,1208.0,22.4,41.1,1.0979
3999,1.6,1008.0,-200.0,9.9,973.0,153.0,714.0,105.0,1509.0,1178.0,25.0,36.6,1.1430

In [11]:
test_data=data_copy.iloc[4000:5118]
test_data

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
4000,2.0,1008.0,-200.0,11.2,1021.0,177.0,714.0,122.0,1549.0,1176.0,29.9,26.2,1.0891
4001,1.6,973.0,-200.0,8.3,911.0,126.0,800.0,121.0,1441.0,891.0,32.9,21.8,1.0714
4002,1.6,964.0,-200.0,9.5,959.0,96.0,787.0,115.0,1438.0,731.0,35.0,17.9,0.9900
4003,1.3,923.0,-200.0,7.1,862.0,92.0,875.0,107.0,1363.0,626.0,34.6,18.2,0.9832
4004,1.0,934.0,-200.0,6.0,811.0,75.0,896.0,86.0,1343.0,553.0,33.8,22.8,1.1781
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5113,4.8,1674.0,-200.0,25.7,1447.0,461.0,448.0,122.0,2065.0,1689.0,26.5,52.7,1.7966
5114,3.5,1455.0,-200.0,17.3,1218.0,394.0,535.0,107.0,1796.0,1387.0,26.2,51.7,1.7334
5115,2.2,1242.0,-200.0,11.2,1022.0,266.0,630.0,83.0,1641.0,1139.0,24.8,56.4,1.7447
5116,1.5,1181.0,-200.0,8.9,935.0,158.0,701.0,62.0,1565.0,960.0,24.9,56.0,1.7367
5117,3.4,1468.0,-200.0,15.2,1155.0,319.0,565.0,89.0,1738.0,1293.0,24.5,57.5,1.7433

In [12]:
train_data.to_csv("Train_AQI(ç¼ºæ™‚é–“).csv",index=False,encoding="utf-8-sig")
test_data.to_csv("Test_AQI(ç¼ºæ™‚é–“).csv",index=False,encoding="utf-8-sig")